<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h3> Get to Know a numpy Array </h3>

You will use the dataframe <code>df</code> for the following:

In [3]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31,57,76,101],'b':[215,22,23,33,24,105]})

#keys are column labels
#values are lists, where each element in the list is another data point and another row under the column label

df.iloc[1,0]

21

1) Plot the first three rows:

In [4]:
df.head(3)
# .head() displays a number of rows

    a    b
0  11  215
1  21   22
2  31   23

2) Obtain column  <code> 'a' </code>

In [16]:
df['a']
#df[] displays all of a column's data

0     11
1     21
2     31
3     57
4     76
5    101
Name: a, dtype: int64

<hr>

<h3 align="center"> Â© IBM Corporation 2020. All rights reserved. <h3/>